
<p><slot/></p>

<style lang="scss">
    p {
        margin: 0;
        color: #4e525a;
        font-family: "Poppins", sans-serif;
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight: 400;
    }
</style>