---
import Block from './../../atoms/block/index.astro';
import Section from './../../atoms/section/index.astro';
import Cell from './../../atoms/cell/index.astro';
import Description from './../../atoms/description/index.astro';
import Highlight from './../../atoms/highlight/index.astro';
import FreeTitle from './../../molecules/free-title/index.astro';
---

<Block padding="100px 0 0 0">
    <Section gap={20}>
        <Cell vAlign="middle" flex={1}>
            <FreeTitle as="h1">
                <Highlight>My</Highlight> Sample <Highlight>Showcase</Highlight>
            </FreeTitle>
            <Block padding="20px 0 10px 0">
                <Description>Designing and Developing Robust and Stylish Web, Mobile and Desktop Applications for a 15 year and Counting</Description>
            </Block>
        </Cell>
    </Section>
</Block>