---
const { prefix, title, suffix } = Astro.props;
---

<h1><span>{prefix}</span>{title}<span>{suffix}</span></h1>

<style lang="scss">
    h1 {
        margin: 0;
        font-family: "Poppins", sans-serif;
        font-size: 4.5rem;
        line-height: 4.5rem;
        letter-spacing: -0.04rem;
        color: #24262f;
        font-weight: 700;
    }
    span {
        color: #6e06f2;
    }
</style>