---
const { tags } = Astro.props;
---

{tags && tags.length > 0 && (
    <ul class="pills">
        {tags.map((tag: string) => <li class="pill"><span>{tag}</span></li>)}
    </ul>
)}

<style lang="scss">
    .pills {
        font-family: "Poppins", sans-serif;
        font-size: 0.875rem;
        line-height: 0.875rem;
        font-weight: 300;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        bottom: 12px;
        left: 12px;
        right: 12px;
        .pill {
            display: inline-block;
            span {
                background-color: #6e06f2;
                color: #ffffff;
                display: inline-block;
                padding: 8px 10px;
                border-radius: 14px;
            }
        }
    }
</style>